@import 'variable';
@media screen and (max-width: 414px){
  html{
  width: 100%;
  }
  body{
    width: 85%;
    margin: 0 5%;
    font-size: 14px;
    line-height: 1.5;
    font-family: Apple SD Gothic Neo,'Apple SD 산돌고딕 Neo','Malgun Gothic','맑은 고딕',sans-serif;
    color: #333;
   overflow-x: hidden;

  }

nav#header-bar{
  width: 100%;

  margin: 0 auto;
  position: fixed;
  top:0;
  border-bottom: 1px black solid;
  // 스크롤해도 덮어씌워지지 않도록 네비바를 위로
  z-index: 9999;
  background-color: white;
  button#side-menu-open{
    float:left;
    width: 50px;
    height: 50px;
    margin: 0;
    position: relative;;
    top:0;
    left:0;
    background-color: white;
    border: none;
  }
  h1#header {
    margin: 0 309px 0 259px;
    height: 50px;
    width: 150px;
    color: pink;
    float: left;
    position: fixed;
    background: url(https://t1.daumcdn.net/makers/images/css/m320/tit_makers_170102.png);
    background-position: 0 -1344px;
    display: block;
    background-repeat: no-repeat;
    // background-position: center;
    // align-content: center;
  }

}
#contents{
  box-sizing: border-box;
  position: relative;;
  margin: 0 auto;
  top: 50px;
  width: 100%;
  // 이상코드 왼쪽이 튀어나감
  left: 3px;
  background-color: #d9d9d9;
  img#first-banner{
    width: 100%;
    margin-top: 8px;
  }
  div#weekly-order{
    background-color: white;
    margin: 0 auto;
    height: 75%;
    width: 100%;
    box-sizing: border-box;
    #weekly-title{
      line-height: 1.5;
      font-size: 20px;
      font-weight: bold;
    }
    .info-text{
      display: block;
      margin-bottom: 8px;

    }
    div#weekly-item{
      border: 1px $grey-backcolor solid;
      width: 80%;
      height:80%;
      margin: 30px 0;
      background-color: white;
      img{
        position: relative;
        display: block;
        left: -8px;
        width: 80%;
        height: 62%;
        margin: 0 auto;

      }
      div#weekly-info{
        position: relative;
        top: -45px;
        width: 100%;
        margin: 0 auto;
        span.likes{
          box-sizing: border-box;
          display: inline-block;
          width: 14px;
          height: 15px;
          line-height: 1.5px;
          background-image: url(https://t1.daumcdn.net/makers/images/css/m640/ico_makers_170102.png);
          background-size: 240px 780px;
          background-position: -86px -632px;
          overflow: hidden;
          color: $order-success-color;
          position: relative;
          top: 2px;
          margin-right: 6px;
        }
      }
      span.order-badge{
        position: relative;
        display: table;
        right: -520px;
        top: -40px;
        width: 75px;
        height: 75px;
        border-radius: 75px;
        font-size: 17px;
        font-weight: 300;
        line-height: 19px;
        color: #fff;
        background-color: $order-success-color;
        text-align: center;
        vertical-align: middle;
      }
    }
  }

  #item-wrap{
    position: relative;
    width: 100%;
    .left-card{
      margin-right: 8px;
    }
    .item-card{
      margin-top: 4px;
      background-color: white;
      box-sizing: border-box;
      float: left;
      width: 100%;
      margin: 0 3% 0 auto;
      >.img-wrap{
        box-sizing: border-box;
        width: 80%;
        span.item-badge{
          position: relative;
          display: table;
          right: -540px;
          top: -40px;
          width: 75px;
          height: 75px;
          border-radius: 75px;
          font-size: 17px;
          font-weight: 300;
          line-height: 19px;
          color: #fff;
          background-color: $order-success-color;
          text-align: center;
          vertical-align: middle;
        }
        >a{
          img.product-img{
            width: 100%;
            height: 70%;

          }
        }
      }
    }
  }
}
.item-info{
  width: 80%;
  position: relative;
  top: -30px;
  padding: 0 10px;
  span.item-bar{
    letter-spacing: -1.5px;
    font-weight: bold;
  }
  span.item-likes{
    box-sizing: border-box;
    display: inline-block;
    width: 14px;
    height: 15px;
    line-height: 1.5px;
    background-image: url(https://t1.daumcdn.net/makers/images/css/m640/ico_makers_170102.png);
    background-size: 240px 780px;
    background-position: -86px -632px;
    overflow: hidden;
    color: $order-success-color;
    position: relative;
    top: 2px;
    margin-right: 6px;
  }
  span.item-info-txt{
    a.readmore{
      font-size: 0.6rem;
      color: $grey-readme;
      text-decoration: underline;;
    }
  }
}
#bottom-bar{
  height: 120px;
  #list-wrap{
    height: 160px;
    position: relative;
    top: 15px;
    background-color: #3d3d3d;
    ul{
      position: relative;
      top: 24px;
      width: 243px;
      height: 42px;
      padding: 0;
      list-style: none;
      margin: 0 auto;
      .list-1{
        margin-right: 60px;
      }
      li{
        margin: 0;
        float:left;
        width: 41px;
        height: 41px;
        a{
          text-decoration: none;
          display: inline-block;
          width: 41px;
          height: 41px;
          .icon-img2{

            line-height: 41px;
            display: block;
            background-size: 240px 780px;
          }
          #katalk-img{

            background-position: 0 -674px;
            background-image: url(https://t1.daumcdn.net/makers/images/css/m640/ico_makers_170102.png);
          }
          #kastory-img{
            background-image: url(https://t1.daumcdn.net/makers/images/css/m640/ico_makers_170102.png);
            background-position: -42px -674px;

          }
          #facebook-img{
            background-image: url(https://t1.daumcdn.net/makers/images/css/m640/ico_makers_170102.png);
            background-position: -84px -674px;
          }
        }
      }
    }
  }
  #url-copy-box{
    display: block;
    overflow: hidden;
    width: 270px;
    margin: 0 auto;
    padding: 6px 0;
    border: 1px solid #383838;
    background-color: #474747;
    position: relative;
    top: -65px;
    span#kakao-url{
      float: left;
      width: 144px;
      border: 0 none;
      font-size: 11px;
      color:#999;
      line-height: 23px;
      background-color: #474747;
      text-align: center;
    }
    >strong{
      float: left;
      position: relative;
      padding: 0 14px;
      font-size: 11px;
      line-height: 23px;
      color: #616161;
      &:after{
        right: 0;
        top: 4px;
        width: 1px;
        height: 13px;
        background-color: #404040;
        content: '';
      }
    }
  }
}
footer{
  position: relative;
  top:120px;
  margin-left: 4px;
  a#footer-left{
    float:left;
    text-decoration: none;
    color:#888;
    font-weight: lighter;
    font-size: 1.1rem
  }
  ul#footer-right{
    list-style: none;
    li{
      margin-left: 13px;
      color:#888;
      float:right;
    }
  }
}
}
