@import 'variable';

.clearfix:after{
  clear: both;
  display: block;
  height: 0;
  content: " "
}
.clearfix:before{
  clear: both;
  display: block;
  height: 0;
  content: " "
}
.pointer:hover{
  cursor: pointer;
}
